
      <h1>Добро пожаловать</h1>
      <h2>Здесь только лучшие курсы</h2>
      <p>Node.js - программная платформа, основанная на движке V8, который транслирует JavaScript в машинный код. Это означает, что разработчик, знакомый с JavaScript, может начать разработку серверной части для приложений любой сложности. В основе Node.js лежит событийно- ориентированное и асинхронное (реактивное) программирование с неблокирующим вводом/выводом. Node.js входит в состав MEAN stack, набора веб-технологий, основанных на JavaScript: MongoDB, Express.js, Angular.js и Node.js. Несмотря на то, что основная задача Node.js – выполнять роль веб-сервера, он так же может быть использован и для разработки десктопных оконных приложений. Курс Node.js рассчитан на веб-разработчиков с опытом разработки на языке JavaScript и выпускников курса JavaScript (Front End)</p>
